.footer{
    background:#1f1f1f;
    color:#ffffff;
    padding-top:40px;
    font-family:inherit;
}

.footer-container{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:280px 1fr;
    gap:60px;

    align-items: start;
}

.footer-about{
    color:#d6d6d6;
}

.footer-logo{
    width:180px;
    margin-bottom:20px;
}

.footer-about p{
    font-size:13px;
    line-height:1.8;
    color:#d6d6d6;
}

.footer-links{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;

    align-items:start;
}

.footer-column h4{
    color:#7CC242;
    font-size:13px;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:18px;
}

.footer-column ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-column li{
    margin-bottom:10px;
}

.footer-column a{
    text-decoration:none;
    color:#ffffff;
    font-size:13px;
    transition:0.3s;
}

.footer-column a:hover{
    color:#7CC242;
}

.footer-bottom{
    width:90%;
    max-width:1200px;
    margin:35px auto 0;
    padding:18px 0;

    border-top:1px solid #444;

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

.footer-bottom p{
    color:#d6d6d6;
    font-size:12px;
}

.footer-policy{
    display:flex;
    gap:30px;
}

.footer-policy a{
    text-decoration:none;
    color:#ffffff;
    font-size:12px;
}

.footer-policy a:hover{
    color:#7CC242;
}


.footer-column{
    align-self: start;
}