.home-cards{
    width: 100%;
    margin-top:-40px;
    position:relative;
    z-index:5;
}


.home-cards-wrapper{
    max-width:1200px;
    margin:0 auto;
    margin-top:55.5px;
    position:relative;
}


.home-cards-container{
    display:flex;
    gap:16px;
    justify-content: center;
}


.card{
    flex:1;
    background:#fff;
    padding:16px;
    border-radius: 6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    font-size:14px;
    display:flex;
    align-items: center;
    gap:12px;
}


.card span{
    display:block;
    color:#2e9adf;
    font-size:12px;
    margin-top:12px;
}

/* Arrows */
.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:32px;
    height:32px;
    border-radius: 50%;
    border:none;
    background:white;
    box-shadow:0 2px 6px rgba(0,0,0,0.2);
    cursor:pointer;
    font-size:20px;
}


.arrow.left{
    left:-16px;
}

.arrow.right{
    right:-16px;
}


.card-icon{
    width:15px;
    height:15px;
    object-fit:contain;
}

.card-text{
    display:flex;
    flex-direction:column;
}

.icon-wrapper{
    width:32px;
    height:32px;
    border-radius: 50%;
    border:1px solid #464646;
    display:flex;
    align-items: center;
    justify-content: center;
}