.nucas-advantage{
    background:#f5f7fa;
    padding:50px 0;
}

.advantage-container{
    max-width: 1200px;
    margin:0 auto;
    text-align: left;
}


.advantage-header{
    margin-bottom:20px;
}


.advantage-header h2{
    font-size:24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.advantage-header p{
    color:#666;
    font-size: 14px;
    margin-bottom:20px;
}


.advantage-tabs-wrapper{
    width:100%;
    border-bottom:1px solid #ddd;
    background:#f4f4f4;
}


.advantage-tabs{
    display:flex;
    gap: 0;
    justify-content: space-evenly;
    align-items: stretch;
    /* justify-content: space-between;
    gap:25px; */
    background:#f4f4f4;
    /* border-bottom:1px solid #ddd;
    padding-bottom:10px; */
}


.advantage-tabs span{
    flex:1;
    font-size:14px;
    color:#777;
    cursor:pointer;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:8px;
    padding:14px 18px;
    background:#f4f4f4;
    border-right:1px solid #ddd;
}


.advantage-tabs span:last-child{
    border-right:none;
}

.advantage-tabs .active{
    color:#2b6cb0;
    font-weight: 500;
}

.advantage-hero{
    position:relative;
    width:100vw;
    /* margin-left: calc(-50vw + 50%); */
}

.advantage-hero img{
    width:100%;
    height:400px;
    object-fit: cover;
    display:block;
}


.overlay{
    position:absolute;
    top:65px;
    left:555px;
    width:100%;
    height:100%; 
    /* background: rgba(43,108,176,0.6); */
    display:flex;
    align-items:center;
}


.overlay-content{
    max-width: 1200px;
    margin:0 auto;
    width:100%;
    color:white;
    padding:0 20px;
}


.overlay-content ul{
    list-style: none;
}


.overlay-content img{
    width:20.1px;
    height:20.36px;
    display:block;
}

.overlay-content ul li{
    display:flex;
    align-items: center;
    gap:8px;
    margin-bottom: 5px;
}


.cta-btn{
    background:#2e9adf;
    color:#fff;
    border:none;
    padding:10px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor:pointer;
    display:flex;
    align-items: center;
    gap:10px;
}


.cta{
    display:flex;
    gap:36px;
    align-items: center;
}


/* .triangle{
    width:0;
    height:0;
    border-left: 10px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
} */
